<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="index.css">
</head>

<body>
  <nav class="side-nav">
    <ul>
      <li id="menu_toggle">Menu</li>
      <li id="stocks" href="/" <%=typeof stocks==="undefined" ? "" : "selected" %>>Stocks</li>
      <li id="operations" href="/operations" <%=typeof operations==="undefined" ? "" : "selected" %>>Operations
      </li>
      <li id="storage_areas" href="/storages" <%=typeof storages==="undefined" ? "" : "selected" %>>Storage Areas
      </li>
      <li id="clients/suppliers" href="/entities" <%=typeof entities==="undefined" ? "" : "selected" %>
        >Clients/Suppliers</li>
      <li class="drop-down" id="items_group">
        <p class="title">Items</p>
        <ul class="drop-items hidden">
          <li id="items" href="/items/avaliable" <%=typeof avaliableItems==="undefined" ? "" : "selected" %>
            >Avaliable Items</li>
          <li id="categories" href="/items/categories" <%=typeof itemCategories==="undefined" ? "" : "selected" %>>Item
            Categories</li>
        </ul>
      </li>
    </ul>
  </nav>

  <main>
    aoba
  </main>
  <script src="index.js"></script>
</body>

</html>